/* Genel vücut stillemesi */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Arka plan rengi */
}

/* Gece modu için stillemeler */
body.night-mode {
    background-color: rgb(20, 25, 31);
    /* Gece modu arka plan rengi */
    color: white;
    /* Gece modu metin rengi */
}

/* Gece modunda giriş container'ı stillemesi */
body.night-mode .login-container {
    background-color: rgb(29, 38, 49);
    /* Gece modunda container arka plan rengi */
    color: white;
    /* Gece modunda metin rengi */
    position: relative;
}

body.night-mode .mavi-yazi a {
    color: white;
}

a {
    margin-left: 28%;
    text-decoration: none;
}

/* Giriş container'ı stillemesi */
.login-container {
    position: relative;
    background-color: #fff;
    /* Container arka plan rengi */
    padding: 5%;
    /* Padding */
    width: 25%;
    /* Genişlik */
    border-radius: 10px;
    /* Köşe yuvarlaklığı */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Gölge */
}

/* Kapat düğmesi stillemesi */
.close-btn {
    position: absolute;
    top: 10px;
    /* Üstten boşluk */
    right: 10px;
    /* Sağdan boşluk */
    width: 30px;
    /* Genişlik */
    height: 30px;
    /* Yükseklik */
    background-color: transparent;
    /* Arka plan rengi */
    border: none;
    /* Kenarlık */
    font-size: 24px;
    /* Yazı tipi boyutu */
    cursor: pointer;
    /* İmleç */
    color: black;
    /* Metin rengi */
    display: flex;
    /* Öğe görüntüleme */
    align-items: center;
    /* Öğeleri dikeyde hizalama */
    justify-content: center;
    /* Öğeleri yatayda hizalama */
}

/* Başlık stillemesi */
h1 {
    text-align: center;
    /* Metin hizalama */
    margin-bottom: 20px;
    /* Alt boşluk */
}

/* Etiket stillemesi */
label {
    display: block;
    /* Öğe görüntüleme */
    margin-bottom: 5px;
    /* Alt boşluk */
    text-align: center;
    /* Metin hizalama */
    font-weight: bold;
    /* Kalın yazı tipi */
}

/* Giriş kutusu stillemesi */
input[type="email"],
input[type="password"] {
    display: block;
    /* Öğe görüntüleme */
    width: 80%;
    /* Genişlik */
    margin: 0 auto 15px auto;
    /* Dış boşluklar */
    padding: 10px;
    /* Dolgu */
    border: 1px solid #ccc;
    /* Kenarlık */
    border-radius: 5px;
    /* Köşe yuvarlaklığı */
    box-sizing: border-box;
    /* Kutu boyutu */
}

/* Giriş düğmesi stillemesi */
button {
    display: block;
    /* Öğe görüntüleme */
    width: 80%;
    /* Genişlik */
    margin: 0 auto;
    /* Dış boşluklar */
    padding: 10px;
    /* Dolgu */
    border: none;
    /* Kenarlık */
    border-radius: 5px;
    /* Köşe yuvarlaklığı */
    background-color: #007BFF;
    /* Arka plan rengi */
    color: #fff;
    /* Metin rengi */
    font-size: 16px;
    /* Yazı tipi boyutu */
    cursor: pointer;
    /* İmleç */
    box-sizing: border-box;
    /* Kutu boyutu */
}

#buttongiriscont {
    width: 100%;
    height: 100%;
    padding-left: 25%;
}

#buttongirisgoogle button {
    width: 20%;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    float: left;
    margin-bottom: 5%;
    margin-left: 15px;
}

#buttongirisgithub button {
    width: 20%;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    float: left;
    margin-bottom: 5%;
    margin-left: 15px;
    margin-top: -18px;
}


/* Giriş düğmesi hover stillemesi */
button:hover {
    background-color: #0056b3;
    /* Arka plan rengi */
}

.mavi-yazi a {
    color: black;
    /* Mavi renk */
}

.theme-mode {
    position: absolute; /* Mutlak konumlandırma */
    top: 10px; /* Üstten boşluk */
    left: 10px; /* Soldan boşluk */
}

