/* General styles */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-hover-color: rgb(0, 86, 179);
}

/* Genel olarak kaydırma çubuğuna stillendirme uygulama */
::-webkit-scrollbar {
    width: 12px;
    /* Kaydırma çubuğu genişliği */
}

/* Kaydırma çubuğunun track kısmının rengi */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Kaydırma çubuğunun thumb kısmını yuvarlak yapma */
::-webkit-scrollbar-thumb {
    background: #007bff;
    /* Thumb rengi */
    border-radius: 6px;
    /* Yuvarlak köşeler */
}

/* Kaydırma çubuğunun thumb kısmının üzerine gelindiğindeki rengini değiştirme */
::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
    /* Thumb üzerine gelindiğindeki renk */
}



@media (max-width: 1920px) {
    a {
        text-decoration: none;
        color: #000000;
    }

    #clearButton {
        background-color: #dc3545;
        /* Kırmızı arka plan */
        color: rgb(255, 255, 255);
        /* Beyaz metin */
        border: none;
        /* Kenarlık yok */
        padding: 8px 15px;
        /* İç boşluk */
        border-radius: 5px;
        /* Yuvarlak köşeler */
        cursor: pointer;
        /* Tıklanabilir olduğunu gösteren imleç */
        transition: background-color 0.2s;
        /* Arka plan rengi geçiş efekti */
    }

    #clearButton:hover {
        background-color: #c82333;
        /* Hover efekti için daha koyu kırmızı */
    }

    /* Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    /* SIDEBAR CATEGORIES */
    #left {
        width: 10%;
        height: 100%;
        float: left;
        margin-left: 25%;
        margin-top: 2%;
        position: fixed;
    }

    #leftkatagoricont {
        display: flex;
        align-items: center;
        width: 90%;
        height: 5%;
        margin-top: 5%;
        color: var(--text-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
        font-family: 'Arial', sans-serif;
        box-shadow: 7px 7px 7px rgb(17, 40, 62);
    }

    #leftkatagoricontyazı {
        width: 90%;
        padding-left: 10px;
        color: var(--text-color);
        user-select: none;
        /* Metni seçilemez yap */
        pointer-events: none;
        /* Metnin üzerine tıklama ve imleç olaylarını engelle */
    }

    #leftkatagoricontfoto {
        height: 90%;
        width: 20%;
        padding-top: 4%;
        color: var(--text-color);
    }

    #leftkatagoricont:hover {
        background-color: #f0f0f0;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /**fİLTRE CONTAINER**/
    #filtrecont {
        width: 100%;
        height: 5%;
    }

    #filtre {
        width: 15%;
        height: 100%;
        float: left;
        margin-right: 5%;
        text-align: center;
        background-color: rgb(239, 242, 246);
        border-radius: 5px;
        transition: background-color 1.2s;
        box-shadow: 7px 7px 7px rgb(17, 40, 62);
    }

    #filtre:hover {
        background-color: var(--button-hover-color);
    }

    #filtre a {
        /* Yeni eklenen stil */
        display: flex;
        /* Flexbox kullanarak hizalama */
        align-items: center;
        /* Dikeyde ortala */
        justify-content: center;
        /* Yatayda ortala */
        width: 100%;
        /* Linkin kutucuğun tamamını kaplaması için */
        height: 100%;
        /* Linkin kutucuğun tamamını kaplaması için */
        padding: 0;
        /* İç boşluğu sıfırla */
    }


    /**CENTER CONTAINER**/
    .post {
        position: relative;
        /* Gönderi kapsayıcısını konumlandırma için göreceli yap */
        display: flex;
        align-items: center;
        background-color: rgb(239, 242, 246);
        margin-bottom: 10px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .post:hover {
        background-color: #f0f0f0;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #name {
        width: 100%;
        height: 15%;
        text-align: center;
    }

    #center {
        width: 45%;
        height: 100%;
        float: right;
        margin-top: 2%;
        margin-right: 23%;
        position: relative;
    }

    #centercont {
        width: 100%;
        height: 10%;
        margin-top: 2%;
        border-radius: 10px 0 0 10px;
    }

    #centerolustur {
        display: block;
        width: 80%;
        height: 4%;
        background-color: rgb(18, 40, 205);
        border-radius: 5px;
        text-align: center;
        padding-top: 15px;
        text-decoration: none;
        /* varsayılan link altı çizgisi kaldırıldı */
        color: white;
        /* varsayılan metin rengi ayarlandı */
        font-size: 50px;
    }

    #centerolustur:hover {
        background-color: #163b61;
    }

    #centerprofilcont {
        width: 25%;
        height: 100%;
        float: left;
        background-color: rgb(239, 242, 246);
        border-radius: 10px 0 0 10px;
        text-align: center;
    }

    #profil {
        border-radius: 100%;
        width: 40%;
        height: 50%;
        margin-left: 30%;
    }

    #centersorubaslik {
        margin-bottom: 3%;
        width: 60%;
        height: 100%;
        float: left;
        background-color: rgb(239, 242, 246);
        overflow: hidden;
    }

    #centerlike {
        width: 30%;
        height: 20%;
        margin-left: 60%;
    }

    #centersorukatagori {
        width: 17%;
        height: 100%;
        float: left;
        background-color: rgb(239, 242, 246);
        border-radius: 0 10px 10px 0;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
        display: flex;
        /* Flexbox kullan */
        flex-direction: column;
        /* Öğeleri dikey sırala */
        /* Öğeleri dikeyde aralıklı yerleştir */

        /* Öğeleri yatayda sola hizala */
        text-align: left;
        /* Tüm içeriği sola yasla */
        padding-left: 10px;
        /* İç boşluk ekle */
    }

    #centersorukatagori p {
        text-align: left;
        /* Yazıyı sağa yasla */

        margin-bottom: 0;

        /* Paragraf alt boşluğunu kaldır */
    }


    #deletePostForm {
        position: absolute;
        top: 0;
        /* Üst kenara tamamen yasla */
        right: 0;
        /* Sağ kenara tamamen yasla */
        transform: translate(5%, -35%);
        /* Butonu kendi boyutunun yarısı kadar sağa ve yukarı kaydır */
    }

    #deletePostForm button {
        background: none;
        border: none;
        cursor: pointer;
    }

    #deletePostForm img {
        width: 20px;
        height: 20px;
    }


    /* Theme toggle icon */
    .theme-mode {
        margin-left: auto;
        display: block;
    }

    .theme-mode:hover,
    .theme-mode:focus,
    .theme-mode:active {
        transform: rotate(1deg);
        transition-duration: 1.2s;
    }

    .theme-mode i {
        transition: all 0.2s ease;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        color: black;
        text-align: center;
        text-decoration: none;
    }

    li a:hover,
    .menu:hover {
        color: rgb(22, 59, 97);
    }


    /**Night Mode**/
    body.night-mode {
        --background-color: rgb(20, 25, 31);
        --text-color: #ffffff;
    }

    body.night-mode .button {
        background-color: rgb(29, 38, 49);
        color: white;
    }

    body.night-mode .button:hover {
        background-color: var(--button-hover-color);
    }

    body.night-mode li a:hover,
    .menu:hover {
        color: rgb(22, 59, 97);
    }

    body.night-mode #leftkatagoricont {
        background-color: rgb(29, 38, 49);
    }

    body.night-mode .button {
        background-color: rgb(29, 38, 49);
        color: white;
    }

    body.night-mode #filtre {
        background-color: rgb(29, 38, 49);
    }

    body.night-mode #filtre:hover {
        background-color: var(--button-hover-color);
    }

    body.night-mode .post {
        background-color: rgb(29, 38, 49);
    }

    body.night-mode #centersorubaslik,
    body.night-mode #centerprofilcont,
    body.night-mode #centerlike,
    body.night-mode #mesajlasmaAlani,
    body.night-mode #mesajGonder,
    body.night-mode #mesajMetni,
    body.night-mode #mesajGirisi,
    body.night-mode #spotifybaslik,
    body.night-mode #filtre,
    body.night-mode #mesajlasmaBaslik,
    body.night-mode #mesajlardaAra,
    body.night-mode #mesajListesi,
    body.night-mode #leftkatagoricont,
    body.night-mode #centersorukatagori,
    body.night-mode ul,
    body.night-mode .post,
    body.night-mode li,
    body.night-mode li a {
        background-color: rgb(29, 38, 49);
        color: white;
    }

    body.night-mode a {
        color: white;
    }

    body.night-mode #mesajlasmaBaslik {
        background-color: rgb(47, 65, 87);
        color: white;
    }

    body.night-mode #mesajGirisi {
        background-color: rgb(47, 65, 87);
        color: white;
    }

    body.night-mode #centerlike {
        height: 38%;
    }

    body.night-mode #popup {
        background-color: rgb(29, 38, 49);
        color: white;
    }

    /* Light Mode */
    body.light-mode #popup {
        background-color: rgb(239, 242, 246);
        color: black;
    }

    /* Theme toggle icon */
    #themeToggle i {
        transition: all 0.2s ease;
    }

    #themeIcon.fas.fa-sun {
        color: orange;
    }

    #themeIcon.fas.fa-moon {
        color: rgb(209, 209, 209);
    }

    #resultsContainer {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    #resultsContainer li {
        padding: 10px;
        cursor: pointer;
    }

    #resultsContainer li:hover {
        background-color: #f0f0f0;
    }

    /* Form Styling */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Form elemanlarını dikeyde hizalama */
        padding-top: 20px;
        /* Form üstündeki boşluk */
    }

    label {
        font-size: 18px;
    }

    button {
        padding: 10px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        background-color: #007BFF;
        color: black;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
        transition-duration: 1.2s;
    }

    textarea {
        resize: none;
    }
}

/* Büyük Ekranlar (1600px ve üzeri) */
@media (min-width: 1600px) {

    /* 1600x900 çözünürlüğe özel düzenlemeler */
    #left {
        margin-left: 20%;
        /* Sol kenar boşluğunu artır */
    }

    #center {
        margin-right: 24%;
        /* Sağ kenar boşluğunu artır */
    }

    #centerolustur {
        font-size: 14px;
    }

    #filtre {
        font-size: 13px;
    }

    #centerprofilcont {
        font-size: 12px;
    }

    #centersorubaslik {
        font-size: 14px;
    }

    #centersorukatagori {
        font-size: 14px;
    }

    #leftkatagoricont {
        font-size: 13px;
    }

    #logo {
        width: 15%;
        height: 100%;
    }
}

/* Orta Büyüklükteki Ekranlar (Tabletler, vb.) */
@media (max-width: 1500px) {
    #left {
        width: 15%;
        /* Sol bölümün genişliğini azalt */
        margin-left: 18%;
        /* Sol kenar boşluğunu azalt */
    }

    #center {
        width: 60%;
        /* Orta bölümün genişliğini artır */
        margin-right: 18%;
        /* Sağ kenar boşluğunu azalt */
    }

    #spotifybaslik {
        margin-top: 22%;
    }

    #spotifyblok {
        margin-top: 28%;
    }
}

/* Küçük Ekranlar (Akıllı Telefonlar) */
@media (max-width: 768px) {

    #left,
    #center {
        float: none;
        /* Yan yana yerine alt alta */
        width: 100%;
        /* Tam genişliğe yay */
        margin: 10px 0;
        /* Üst ve alt kenar boşlukları ekle */
    }

    #centercont {
        margin-top: 0;
        /* Üst kenar boşluğunu kaldır */
    }

    #mesajlasmaAlani {
        width: 90%;
        /* Mesajlaşma alanını daralt */
        right: 5%;
        /* Sağa yasla */
    }

    #spotifybaslik,
    #spotifyblok {
        display: none;
    }
}

/* Çok Küçük Ekranlar (Bazı Eski Telefonlar) */
@media (max-width: 480px) {
    /* Gerekirse daha küçük ekranlara özel düzenlemeler */

    #centerlike {
        width: 40%;
    }

    #mesajlasmaAlani {
        height: 400px;
    }
}