<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div id="düzenbar">
    <div id="bar">
        <img id="logo" src="/templates/logo.png">
        <ul>
            <li><a href="/templates/index.html">Anasayfa</a></li>
            <li><a href="/templates/gündem.html">Gündem</a></li>
            <li class="menu"><a href="/templates/sosyal.html" >Sosyal</a>
              <div class="acilir-menu">
                <a href="/templates/bekleyensorular.html">Cevap Bekleyen Sorular</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </li>
            <li><a href="sss.html">SSS</a></li>
          </ul>
        <span class="theme-mode"></span>
    </div>
</div>

</body>
</html>
