<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>

<body>
        <script src="/static/scripts.js"></script>

    <div class="register-container" id="register-container">
        <span class="theme-mode"> 
            <a role="button" id="themeToggle" title="Tema Değiştir" href="javascript:void(0);">🌓
                <i id="themeIcon" class="fas fa-sun"></i>
            </a>
        </span>

        <button class="close-btn" onclick="closeRegister()">×</button>
        <h1>Register</h1>
               
        <form method="post" action="/register">
            <!-- Email alanı -->
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{.Email}}" required>
            <!-- Email hata mesajı -->
            {{with .ErrorMessages.Email}}
            <div style="color:red">{{.}}</div>
            {{end}}
            <br>
            <!-- Kullanıcı adı alanı -->
            <label for="username">Username</label>
            <input type="text" id="username" name="username" maxlength="20" value="{{.Username}}" required>
            <!-- Kullanıcı adı hata mesajı -->
            {{with .ErrorMessages.Username}}
            <div style="color:red">{{.}}</div>
            {{end}}
            <br>
            <!-- Şifre alanı -->
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <!-- Şifre hata mesajı -->
            {{with .ErrorMessages.Password}}
            <div style="color:red">{{.}}</div>
            {{end}}
            <br>
            <!-- Şifre tekrar alanı -->
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <!-- Şifre tekrar hata mesajı -->
            {{with .ErrorMessages.ConfirmPassword}}
            <div style="color:red">{{.}}</div>
            {{end}}

            <!-- Kayıt düğmesi -->
            <button type="submit">Register</button>
        </form>

        <div id="buttongiriscont">
            <div id="buttongirisgoogle">
                <a href="/google/login"><button class="google-btn"><img src="/static/png/google.png" width="50%"
                            height="20%"></button></a>
            </div>
            <div id="buttongirisgithub">
                <a href="/github/login"><button class="github-btn"><img src="/static/png/github.png" width="50%"
                            height="20%"></button></a>
            </div>

        </div>

        <p class="mavi-yazi"><a href="/login">Do you have a subscription?</a></p>



        <script>
            // Sayfa yüklendiğinde temayı ayarla
            window.onload = function () {
                let tema = localStorage.getItem("tema") || "light"; // Varsayılan tema
                document.body.classList.add(tema + "-mode"); // Mevcut temaya uygun sınıfı ekle
            };
    
            // Tema değiştirme düğmesini dinle
            document.getElementById('themeToggle').addEventListener('click', function () {
                const currentTheme = document.body.classList.contains('light-mode') ? 'night-mode' : 'light-mode';
                changeTheme(currentTheme);
            });
    
            // Kayıt penceresini kapatma işlevi
            function closeRegister() {
                window.location.href = 'index.html';
            }
        </script>
    </div>
</body>

</html>