<!DOCTYPE html>
<html>
<head>
    <!-- Sayfa başlığı -->
    <title>{{.Post.Title}}</title>
    <!-- Viewpost sayfası için genel viewport ayarı -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Sayfa stil dosyası -->
    <link rel="stylesheet" type="text/css" href="/static/css/viewpost.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bar.css">

    <!-- jQuery kütüphanesi -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <script src="/static/scripts.js"></script>
    <!-- Üst Çubuk-->
    <div id="bigbar">
        <div id="düzenbar">
        <div id="bar">
            <!-- Logo -->
            <a href="index.html" id="logo" style="background-image: url('/static/png/logo.png'); background-repeat: no-repeat; background-size: contain; width: 15%; height: 100%;"></a>

            <!-- Arama kutusu -->
            <input type="text" id="searchBox"  placeholder="search now" onkeyup="searchLanguages()">
            
            <!-- Tema değiştirme düğmesi -->
            <div id="darkmod">
                <span class="theme-mode">
                    <a role="button" id="themeToggle" title="Tema Değiştir" href="javascript:void(0);">🌓
                    <i id="themeIcon" class="fas fa-sun"></i></a> 
                </span>
            </div>
            <div id="girişbar">
                <nav>
                    <!-- Giriş durumuna göre menü -->
                    {{if .LoggedIn}}
                    <div id="myprofil">
                        <a href="/myprofil"><img width="80%" height="100%" src="/static/png/pp.png"></a>
                    </div>
                    <a href="/logout" id="logoutButton" class="button">Log Out</a>
                    <!-- Hoş geldiniz popup'ı -->
                    <script>
                        // Eğer popup daha önce gösterilmemişse göster
                        if (!localStorage.getItem('popupGosterildi')) {
                            const welcomePopup = document.createElement('div');
                            welcomePopup.innerHTML = `
                                    <div id="welcomePopup" style="position: fixed; top: 0; left: 0; width: 100%; height: 15%;  display: flex; justify-content: center; align-items: center; z-index: 9999;">
                                        <div id="popup" style="background-color: white; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); color: black;">
                                            <h4>Hoş geldiniz!</h4>
                                            <p>Sitemize giriş yaptığınız için teşekkür ederiz.</p>
                                        </div>
                                    </div>
                                `;
                            document.body.appendChild(welcomePopup);

                            // Tema moduna göre popup rengini ayarla
                            const popupElement = welcomePopup.querySelector('#popup');
                            const theme = localStorage.getItem("tema") ||
                            "light"; // Eğer tema daha önce kaydedilmişse kullan, yoksa "light"
                            if (theme === "dark") {
                                popupElement.style.backgroundColor = "rgb(239, 242, 246)";
                                popupElement.style.color = "black";
                            } else {
                                popupElement.style.backgroundColor = "rgb(20, 25, 31)";
                                popupElement.style.color = "white";
                            }

                            // Pop-up'ı kapatmak için bir zamanlayıcı kullan
                            setTimeout(() => {
                                welcomePopup.remove(); // Pop-up'ı kapat
                            }, 1500);

                            // Popup'ın gösterildiğini işaretle
                            localStorage.setItem('popupGosterildi', 'true');
                        }

                        // Çıkış yap butonuna tıklandığında onay popup'ı göster ve localStorage'ı temizle
                        document.querySelector('#logoutButton').addEventListener('click', function (event) {
                            event
                        .preventDefault(); // Bağlantının varsayılan davranışını engelle (sayfayı yenileme)

                            // Onay popup'ını göster
                            if (confirm('Are you sure you want to log out?')) {
                                // localStorage'ı temizle
                                localStorage.removeItem('popupGosterildi');

                                // Kullanıcı evet derse, logout sayfasına git
                                window.location.href = this.getAttribute('href');
                            }
                        });
                    </script>

                    {{else}}
                    <a href="/login" class="button">Log In</a>
                    <a href="/register" class="button">Register</a>
                    {{end}}
                </nav>
            </div>
        </div>
    </div>
    </div>
    <!-- Görünmez bar -->
    <div id="görünmezbar"></div>
    <div id="görünmezbar"></div>
    <!-- Merkez alanı -->
    <div id="center">
        <div id="centercont">
            <!-- Kullanıcı profil bilgileri -->
            <div id="centerprofilcont">
                <div id="profil">
                    <img src="/static/png/pp.png">
                </div>
                <div id="name">
                    {{.Post.Username}}
                </div>
            </div>
            <!-- Gönderi başlığı ve içeriği -->
            <div id="centersorubaslik">
                <h3>{{.Post.Title}}</h3>
                <div class="text-block">
                    <p>{{.Post.Content}}</p>
                </div>
                <!-- Gönderi oluşturulma tarihi --><!-- Beğeni ve beğenmeme sayıları -->
                <p>{{.Post.CreatedAtFormatted}} Likes: <span id="post-like-count">{{.Post.LikeCount}}</span> Dislikes: <span id="post-dislike-count">{{.Post.DislikeCount}}</span></p>
                
                <!-- Beğeni ve beğenmeme düğmeleri -->
                <div id="like">
                    <button onclick="vote('{{.Post.ID}}', null, 1)"><img src="/static/png/like.png" alt="Like"></button>
                </div> 
                <div id="dislike">
                    <button onclick="vote('{{.Post.ID}}', null, -1)"><img src="/static/png/dislike.png" alt="Dislike"></button>
                </div>
                <!-- Gönderi silme formu -->
                <form id="deletePostForm" action="/deletePost" method="post">
                    <input type="hidden" name="post_id" value="{{.Post.ID}}">
                    <button type="submit">
                        <img src="/static/png/delete.png" alt="Delete">
                    </button>
                </form>
            </div>
        </div>

        <!-- Yorumlar -->
        {{range .Comments}}
        <div id="centercont">
            <div id="centerprofilcont">
                <div id="profil">
                    <img src="/static/png/pp.png">
                </div>
                <div id="name">
                    {{.Username}}
                </div>
            </div>
            <div id="centersorubaslik">
                <!-- Yorum içeriği -->
                <p>{{.Content}}</p>
                <!-- Yorumun oluşturulma tarihi -->
                <small>Commented by {{.Username}} on {{.CreatedAtFormatted}}</small>
                <!-- Yorumun beğeni ve beğenmeme sayıları -->
                <p>Likes: <span id="comment-like-count-{{.ID}}">{{.LikeCount}}</span> Dislikes: <span id="comment-dislike-count-{{.ID}}">{{.DislikeCount}}</span></p>
                <!-- Yorum beğeni ve beğenmeme düğmeleri -->
                <div id="like">
                    <button onclick="vote(null, '{{.ID}}', 1)"><img src="/static/png/like.png" alt="Like"></button>
                </div>
                <div id="dislike">
                    <button onclick="vote(null, '{{.ID}}', -1)"><img src="/static/png/dislike.png" alt="Dislike"></button>
                </div>
                <!-- Yorum silme formu -->
                <form id="deletePostForm" action="/deleteComment" method="post">
                    <input type="hidden" name="comment_id" value="{{.ID}}">
                    <button type="submit">
                        <img src="/static/png/delete.png" alt="Delete">
                    </button>
                </form>
            </div>
        </div>
        {{end}}

        <!-- Yorum yapma alanı -->
        <div id="centercont">
            <div id="centerprofilcont">
                <div id="profil">
                    <img src="/static/png/pp.png">
                </div>
                <div id="name"></div>
            </div>
            <div id="centersorubaslik">
                <h2>Comment</h2>
                <form action="/createComment" method="post">
                    <input type="hidden" name="post_id" value="{{.Post.ID}}">
                    <textarea name="content" rows="10" cols="50" required maxlength="600"></textarea>
                    <br>
                    <button type="submit">Send</button> 
                </form> 
            </div>
        </div>
    </div>

    <!-- Tema değiştirme scripti -->
    <script>
        let tema = localStorage.getItem("theme") ?? "white"
        changeTema();

        document.querySelector("#themeToggle").addEventListener("click", () => {
            if (tema === "white") tema = "black";
            else tema = "white";
            
            localStorage.setItem("tema", tema);
            changeTema();
        });
    </script>

    <!-- Tema değiştirme scripti -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const themeToggle = document.getElementById("themeToggle");
            const themeIcon = document.getElementById("themeIcon");
            let isLightMode = true;

            themeToggle.addEventListener("click", function() {
                isLightMode = !isLightMode;
                document.body.classList.toggle("light-mode", isLightMode);
                document
                .body.classList.toggle("night-mode", !isLightMode);
                themeIcon.classList.toggle("fas fa-sun", isLightMode);
                themeIcon.classList.toggle("fas fa-moon", !isLightMode);
            });
        });
    </script>

    <!-- Tema değiştirme scripti -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const theme = localStorage.getItem('theme');
            if (theme) {
                document.getElementById('theme-link').href = theme;
            }
        });

        function changeTheme(theme) {
            document.getElementById('theme-link').href = theme;
            localStorage.setItem('theme', theme);
        }
    </script>

    <!-- AJAX ile oylama ve silme işlemleri için script -->
    <script>
        function prepare(xhr, method, url, callback) {
            xhr.open(method, url, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    callback(xhr);
                }
            };
        }

        function vote(postID, commentID, voteType) {
            var xhr = new XMLHttpRequest();
            prepare(xhr, "POST", "/vote", function(xhr) {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.redirect) {
                        window.location.href = response.redirect;
                    } else {
                        if (postID) {
                            document.getElementById("post-like-count").innerText = response.like_count;
                            document.getElementById("post-dislike-count").innerText = response.dislike_count;
                        } else if (commentID) {
                            document.getElementById("comment-like-count-" + commentID).innerText = response.like_count;
                            document.getElementById("comment-dislike-count-" + commentID).innerText = response.dislike_count;
                        }
                    }
                } else if (xhr.status == 401) {
                    window.location.href = "/login";
                } else {
                    alert("Vote failed: " + xhr.responseText);
                }
            });
            var data = "vote_type=" + voteType;
            if (postID) {
                data += "&post_id=" + postID;
            } else if (commentID) {
                data += "&comment_id=" + commentID;
            }
            xhr.send(data);
        }
    </script>
</body>
</html>
